framework:
    secret: '%env(APP_SECRET)%'

    session:
        handler_id: '%env(default::SESSION_HANDLER)%'
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    php_errors:
        log: true

    handle_all_throwables: true

    cache:
        app: cache.adapter.redis
        default_redis_provider: '%env(REDIS_URL)%'
        pools:
            stripe.cache:
                adapter: cache.adapter.redis
                default_lifetime: 300
