<footer class="footer">
  <div class="footer-copyright">
    &copy; {{ "now"|date("Y") }} {{ siteName }}
  </div>
  <div class="footer-links">
    <a href="{{ path('source') }}">
      Source
    </a>
    <span class="footer-divider">|</span>
    <a href="#">
      Contact Us
    </a>
  </div>
</footer>
